.header {
  background-color: rgba(0, 0, 0, 0.651);
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(6px);
  justify-content: center;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.116);
  // border: 20px solid white;

  .title {
    color: white;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    cursor: pointer;
  }

  .button {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .button:hover {
    color: rgb(214, 214, 214);
    transition: all 0.2s;
  }

  .connect {
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .connect:hover {
    background-color: rgb(3, 45, 170);
    color: white;
    transition: all 0.2s;
  }
}

.content {
  padding: 130px;
  color: white;
}